body.alt_styles-index
	.alt-styles-list
		list-style: none
		display: flex
		justify-content: center
		flex-wrap: wrap
		gap: 1.5em

	.alt-style
		text-align: center
		width: 80px

	.alt-style-thumbnail
		width: 80px
		height: 80px
