@import "../partials/clean/constants"

// Prefer to break the name at visually appealing points.
.rainbow-pool-list
	.name
		text-wrap: balance

// De-emphasize Prismatic styles, in browsers that support it.
.rainbow-pool-filters
	select[name="series"]
		option[value*=": "]
			color: $soft-text-color
			font-style: italic
