.alt-styles-header
	margin-top: 1em
	margin-bottom: .5em

.alt-styles-list
	list-style: none
	display: flex
	flex-wrap: wrap
	gap: 1.5em

.alt-style
	text-align: center
	width: 80px

.alt-style-thumbnail
	width: 80px
	height: 80px
