// Used internally:
$background_color: #0b61a4
$module_border_color: #033e6b
$module_background_color: #66a3d2

// Used by Blueprint:
$font_color: #fff
$header_color: #fff
$link_color: #fff
$link_hover_color: #fff
$link_focus_color: #fff
$link_active_color: #fff
$link_visited_color: #fff
