!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Dress to Impress
    %link{href: image_path('favicon.png'), rel: 'icon'}
    = stylesheet_link_tag 'fonts'
    = javascript_include_tag 'wardrobe-2020-page', defer: true
  %body
    #wardrobe-2020-root
