#asset-canvas,
#asset-image,
#fallback {
	position: absolute;
	left: 0;
	top: 0;

	/* HACK: `calc` isn't needed, but works around a bug in our asset pipeline,
	 * where libsass is trying to preprocess it. (We're not SASS tho?) */
	width: calc(min(100vw, 100vh));
	height: calc(min(100vw, 100vh));
}
