.pet-types
	list-style-type: none
	display: flex
	flex-wrap: wrap
	justify-content: center
	gap: .5em

	> li
		width: 150px
		max-width: calc(50% - .25em)
		min-width: 150px
		box-sizing: border-box
		text-align: center

	a
		display: block
		border-radius: 1em
		padding: .5em

	img
		width: 100%
		height: auto
		aspect-ratio: 1 / 1
		position: relative
		z-index: -1
		margin-bottom: -1em

	.name
		background: white
		padding: .25em .5em
		border-radius: .5em
		margin: 0 auto
