@import "../partials/clean/constants"

.pet-states
    list-style-type: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: .5em

    > li
        width: 200px
        max-width: calc(50% - .25em)
        min-width: 150px
        padding: .5em
        box-sizing: border-box
        text-align: center

    outfit-viewer
        width: 100%
        height: auto
        aspect-ratio: 1 / 1
        z-index: -1
        margin-bottom: -1em

    .name
        background: white

    .glitched
        cursor: help
