$text-color:            #040;
$link-color:            $text-color + #222;
$module-bg-color:       #efe;
$module-border-color:   #060;
$input-border-color:    #cec;
$marked-button-color:    #0b61a4;

$notice-color:         #264409;
$notice-bg-color:      #e6efc2;
$notice-border-color:  #c6d880;
$error-color:           #8a1f11;
$error-bg-color:        #fbe3e4;
$error-border-color:    #fbc2c4;

$header-font: Delicious, Helvetica, Arial, Verdana, sans-serif;
$body-font: "Droid Serif", Georgia, "Times New Roman", Times, serif;
