@import "partials/campaign-progress"

body.outfits-new
  +campaign-progress

  #outfit-forms
    +clearfix
    +module
    position: relative
    h1
      margin-bottom: 0
    h2
      font:
        size: 150%
        style: italic
      text-indent: 1em
    #pet-preview
      float: left
      height: 300px
      margin-right: 2em
      position: relative
      width: 300px
      img
        height: 100%
        width: 100%
      &.loading img
        +opacity(0.5)
      &.hidden img
        display: none
      &.loaded
        cursor: pointer
      span
        background: rgb(128, 128, 128)
        background: rgba(0, 0, 0, 0.5)
        bottom: 0
        color: #fff
        padding: .25em .5em
        position: absolute
        right: 0
        &:empty
          display: none
    fieldset
      position: relative
      left: 16px
      legend
        margin-left: -16px
  #load-pet-to-wardrobe
    font-size: 175%
    margin:
      bottom: 1em
      top: 2em
    input
      font-size: 67%
      padding: .5em
      width: 10em
    button
      +loud-awesome-button
      font-size: 67%
  #description, #top-contributors
    float: left
  #description
    margin-right: 2%
    width: 64%
  #top-contributors
    border: 1px solid $input-border-color
    margin-top: 1em
    padding: 1%
    width: 30%
    ol
      margin-left: 2em
      padding-left: 1em
    > a
      font-size: 80%
      display: block
      text-align: right
  #how-can-i-help, #i-found-something
    +module
    float: left
    padding: 1%
    width: 46%
    h2
      font-style: italic
    input, button
      font-size: 115%
    input[type=text]
      border-color: $module-border-color
      width: 12em
  #how-can-i-help
    margin-right: 1%
  #i-found-something
    margin-left: 1%
    a
      float: right
      font-size: 87.5%
      margin-top: 1em
  $section-count: 3
  $section-border-width: 1px
  $section-padding: 0.5em
  $section-width: 100% / $section-count
  // (A - (B-1)*C) / B
  #sections
    +clearfix
    display: table
    list-style: none
    margin-top: 1em
    h3
      margin-bottom: .25em
    li
      border-left:
        color: $module-border-color
        style: solid
        width: $section-border-width
      display: table-cell
      padding: $section-padding
      position: relative
      width: $section-width
      &:first-child
        border-left: 0
    div
      color: $soft-text-color
      font-size: 75%
      margin-left: 1em
      z-index: 2
    h4, input
      font-size: 116%
    h4, input[type=text]
      color: inherit
    h4 a
      background: #ffffc0
    img
      +opacity(0.75)
      float: right
      margin-left: .5em
      &:hover
        +opacity(1)
    p
      min-height: 4.5em

  #whats-new
    margin-bottom: 1em

    h3
      font-size: 125%
      font-style: italic
      margin-bottom: .5em

    #newest-modeled-items
      text-align: center

      .object
        margin: 2px
        padding: 0
        width: 80px

        .name
          display: none

        img
          margin: 0

        .nc-icon
          right: 0
    
    #newest-unmodeled-items
      list-style: none

      li
        +clearfix
        margin: .5em 0

      a.header
        background: $module-bg-color
        border: 1px solid $module-border-color
        border-left: 0
        border-radius: 0 6px 6px 0
        color: white
        display: block
        margin-left: 81px
        padding: .5em 8px
        position: relative
        text-decoration: none
        text-shadow: $text-color 1px 1px 2px

      a.header:hover, .image-link:hover + a.header
        text-decoration: underline

      h2
        font-family: $main-font
        font-size: 120%
        margin: 0
        position: relative
        z-index: 2

      .meter
        background: desaturate(lighten($module-border-color, 25%), 60%)
        display: block
        height: 100%
        left: 0
        position: absolute
        top: 0
        z-index: 1

      .image-link
        float: left
        img
          border: 1px solid $module-border-color
          border-radius: 6px 0 6px 6px
          height: 80px
          width: 80px

      .missing-bodies
        font-size: 85%
        margin-left: 82px
        padding: .5em 8px
        p
          font-family: $main-font
          margin-bottom: .5em
  
  #latest-contribution
    +subtle-banner
    
    #recent-contributions-link
      font-weight: bold
      margin-right: .5em
      
      &::after
        content: ":"
    
    #latest-contribution-created-at
      color: $soft-text-color
      margin-left: .5em

