# There is currently only one impress box in our Ansible inventory!
[webserver]
impress.openneo.net

[webserver:vars]
# These two values should usually be the same, unless you're in the middle of an upgrade!
# Latest is the newest version to install; live is the version to run the app with.
ruby_version_latest=3.4.5
ruby_version_live=3.4.5
