@import "../partials/secondary_nav"
@import "../partials/clean/mixins"

body.closet_lists-new, body.closet_lists-create, body.closet_lists-edit, body.closet_lists-update
  +secondary-nav

  form ul.fields
    clear: both
    list-style: none

    label
      float: left
      font-weight: bold
      margin-right: 1em

    li
      padding: 0.75em 0
      width: 35em

    input, textarea, select
      clear: both
      display: block
      margin-top: .25em
      width: 80%

    textarea
      height: 12em

    .hint
      display: block
      font:
        size: 85%

    .trade-warning
      +warning
      margin-bottom: 1em
      padding: .75em .5em
      text-align: center

      p:last-of-type
        margin-bottom: 0

  // Only show the trade warning when the list is marked as Trading!
  form:not([data-list-visibility="2"]) .trade-warning
    display: none
