@import "../partials/clean/constants"
@import "../partials/clean/mixins"
@import "../partials/item_header"

body.items-show
  .item-header
    +item-header

  #item-contributors
    +subtle-banner
    clear: both
    margin:
      bottom: 0
      top: 2em
    
    header
      display: inline
      font-weight: bold
      margin-right: .25em
    
    footer
      display: inline
    
    ul
      li::after
        content: ", "
      
      li:last-child::after
        content: "."
    
  .nc-icon
    height: 16px
    width: 16px
