@import "../partials/clean/constants"
@import "../partials/clean/mixins"

.item-list
	border-collapse: collapse
	border: 1px solid $soft-border-color

	td, th
		border-top: 1px solid $soft-border-color
		border-bottom: 1px solid $soft-border-color
		padding: .25em
		vertical-align: middle

		&:first-child
			padding-left: .5em

		&:last-child
			padding-right: .5em

	.thumbnail-cell img
		display: block
		width: 2.5em
		height: 2.5em

	.actions-cell
		text-align: right
		padding-left: 1em
		font-size: 85%

	thead
		background: $module-bg-color

		th
			text-align: left

		.actions-cell button
			/* Bootstrap's Purple 600 */
			+awesome-button-color(#59359a)
