- title 'Welcome to Image Mode!'

:markdown
  Yay! Image Mode! Our servers can handle Image Mode because of [your generous
  donations][donate]. Thanks for all you do.

  What is Image Mode?
  -------------------

  Image Mode has two main features:

  1. **Save images of your pets!**
    On supported browsers, you will see a "Download" button. Clicking it will
    start downloading a PNG image file to your computer.
  2. **No more Flash!**
    In Flash Mode, your browser downloads several Flash files and layers them
    on top of each other. In Image Mode, we layer images, instead.


  How do I use it?
  ----------------

  Start using Dress to Impress normally: type in a pet name or choose a
  color/species combination from the home page. Then, to the left of the pet's
  image, you should see Flash highlighted.
  **Click on the word Image.** Congrats, you're in!


  What does "Waiting on X images" mean?
  -------------------------------------

  This means that some of the images you're trying to view haven't been
  converted yet. They're waiting in line to be converted. These days, that line
  is pretty darn short, so the message shouldn't stay up for too long at all.
  Just wait patiently for the magic SWF converters to run, and you should be
  good to go :)


  How do I download an image?
  ---------------------------

  Just click the Download button beneath the Flash/Image switch. If all goes
  well, a download should begin automatically.


  I don't see any Download button.
  --------------------------------

  Downloading currently only works for modern browsers that support the new
  canvas feature. It is, however, supported in the latest versions of,

  * [Google Chrome](https://www.google.com/chrome)
  * [Mozilla Firefox](https://www.firefox.com/)
  * [Opera](https://www.opera.com/)
  * [Safari](https://www.apple.com/safari/)
  * [Internet Explorer](https://www.microsoft.com/ie)

  However, Internet Explorer currently is having trouble running Dress to
  Impress in general, so is not recommended.


  This image doesn't quite look right.
  ------------------------------------

  If part of your image looks a little off, like something is missing or is
  transparent when it shouldn't be, hit the "Broken image?" link beneath the
  Flash/Image mode switcher. Choose the image that seems broken, and report it.
  The SWF converters will get on it as soon as they can. Thanks for your help!

  Please note that, because our SWF converters use open-source software instead
  of Adobe's software, some SWF files that use more complex features may not
  come out right, no matter how many times we convert them. Usually this involves
  fancy blur effects: Ghost pets, for example, have a sharp blue silhouette behind
  them instead of a blue glow. There's not much we can do about that for the
  time being. Most of them are okay, but if an image is just plain unusable…well,
  that's what Flash mode is for!


  What do I do if I find a problem? Have a suggestion? Just want to talk?
  -----------------------------------------------------------------------

  Email me at <webmaster@openneo.net>. Report Image Mode bugs, ask questions,
  give me cool ideas, or just say whatever you want. That's what I'm here for.


  Thanks again! Enjoy Image Mode!
  -------------------------------

  [donate]: #{donate_path}

