- title 'Welcome to Image Mode!'

:markdown
  Thank you so much for helping to support Dress to Impress! From the data on
  the site to the funds that keep it running, none of it happens without you.

  Here's a quick breakdown of Image Mode, its beta status, and what that means
  for you.

  What is Image Mode?
  -------------------

  Image Mode has two main features:

  1. **Save images of your pets!**
    On supported browsers, you will see a "Download" button. Clicking it will
    start downloading a PNG image file to your computer.
  2. **No more Flash!**
    In Flash Mode, your browser downloads several Flash files and layers them
    on top of each other. In Image Mode, we layer images, instead.


  How do I use it?
  ----------------

  Start using Dress to Impress normally: type in a pet name or choose a
  color/species combination from the home page. Then, to the left of the pet's
  image, you should see Flash highlighted.
  **Click on the word Image.** Congrats, you're in!


  What does "Waiting on X images" mean?
  -------------------------------------

  This means that some of the images you're trying to view haven't been
  converted yet. They're waiting in line to be converted, and, in order to keep
  the site stable, **the server will not convert any more images until the
  upgrade is ready**. So, in actuality, waiting will do you no good.

  **Once we're out of beta, however, that message shouldn't stay up for very long at
  all.** Once the images are done converting, they will appear, and the message
  will disappear. Once we finish converting the thousands of Flash files
  already in our database, the conversion line will almost always be very short.

  The main reason that Image Mode is not ready for the public yet, and the
  reason we're raising money for a server upgrade, is that **we're not done
  converting all of the customization Flash files to images**. There are over
  100,000 to convert, and each one can take up to 10 seconds or so. We have,
  however, converted a lot of them already. However, we've also discovered that,
  when we do the conversion process, we have unacceptable amounts of downtime.
  You may have run into some of it during the past few weeks. So, the converters
  are off until the upgrade.

  **Remember, this is just a preview of Image Mode.** You pretty much won't have
  all of the images you want until the upgrade is all done.


  How do I download an image?
  ---------------------------

  Just click the Download button beneath the Flash/Image switch. If all goes
  well, a download should begin automatically.


  I don't see any Download button.
  --------------------------------

  Downloading currently only works for modern browsers that support the new
  canvas feature. It is, however, supported in the latest versions of,

  * [Google Chrome](http://www.google.com/chrome)
  * [Mozilla Firefox](http://www.firefox.com/)
  * [Opera](http://www.opera.com/)
  * [Safari](http://www.apple.com/safari/)
  * [Internet Explorer](http://www.microsoft.com/ie)

  However, Internet Explorer currently is having trouble running Dress to
  Impress in general, so is not recommended.


  What do I do if I find a problem? Have a suggestion? Just want to talk?
  -----------------------------------------------------------------------

  Email me at <webmaster@openneo.net>. Report Image Mode problems and broken
  images, ask questions, give me cool ideas, or just say whatever you want.
  That's what I'm here for.


  Thanks again! Enjoy Image Mode!
  -------------------------------

