- title 'Pardon our dust!'
- hide_title_header

= image_tag 'pardon-our-dust/header.png', class: 'header-image',
  alt: 'Fyora directing a Yurble worker, as other faeries help rebuild Faerieland in the background'

%h1#title Pardon our dust!

%main
  :markdown
    Hi, friends! There's a few interesting things happening right now, sorry for
    the mess! Here's what's up.

    ## Welcome to the new-old site!
    
    After working on our new-ish [Impress 2020][impress-2020] site the past
    few years, we've decided it's not entirely the direction we want to go
    after all. But also not entirely *not*? We love the HTML5 support, we love
    how it looks on mobile, and we love some of the new trading features. But
    in hindsight, we don't think the tech we used is a good choice for the
    long-term, and we want to help Neopets customization stick around for
    decades to come.

    **So, we're merging the best parts of Impress 2020 into the original site!**
    We finally caught up on *many* years of technical upgrades, and cleaned up a
    *lot* of ancient rubble, so the original site can be a strong foundation for
    us again—and then we copied over Impress 2020's most important bits of UI, to
    keep things bright and breezy!

    Here's what you should notice already:

    - **New outfit editor:** The outfit editor is entirely replaced with Impress
      2020's modern editor, with support for HTML5 wearables and for mobile!
    - **Simplified login:** We used to have a weird second website for login and
      account management. That's all merged into the main site now!
    - **Improved item page:** We copied over Impress 2020's item previewer, so
      you'll be able to see animated items, and get better support for special
      colors like Maraquan and Baby!
    
    And behind the scenes, we've made this site's code a *lot* simpler and a
    lot more up-to-date, and dependent on fewer external services, so it should
    be a lot easier to maintain going forward.

    We're still missing some really important things because we're launching
    sooner than expected (like outfit saving), but we hope to fill in those
    gaps soon!

    ## Wait, why the sudden update?

    One of our service providers recently made a change that's been a long time
    coming, but is unusually difficult to work around. In this case, it would
    require us to upgrade a *lot* of components of our system that, frankly,
    we're years behind on updating.

    But this new-old beta site? It's already running on the latest tech, and
    depends on a lot fewer external services to begin with. So, as a team with
    limited resources, it felt like a better idea to just skip forward to the
    beta version that already works, than to split the original site into
    *another* version of DTI and have *three* copies of the site we're
    maintaining 😅

    For the most part, I hope you mostly don't feel much of a difference, and
    that most of the changes feel good? But I also know we're shipping it out
    earlier than we planned and that's always a bit rough; and I know there are
    things about the new outfit editor that still aren't ideal for everyone,
    and I hope we can get those attended to once we have our stronger
    foundation.

    ## And sorry about all this…

    Sorry for the delay on getting this fixed, there's been a lot of family
    things to attend to lately, I hope everyone's been doing okay in the
    meantime!!

    Earlier this year I put out a call for extra help, and I haven't really
    made good on that either, and I'm sorry for that too… soon after, I
    realized the help I asked for (continuing to invest in Impress 2020's
    missing features) didn't actually feel like the right path forward for the
    site long-term—and that the next step for us (unifying the sites) would
    kinda be the *worst* time to bring in someone new 😬

    It can be a challenging thing, to have a site going for more than ten years
    and to not always be in a phase of life to give it the attention it
    deserves… and to have the weight of your ten-years-younger self's decisions
    to carry around with it 😅 My hope is that, by cleaning up this decade-long
    complex sprawling thing, we can build a site that isn't quite so dependent
    on the ebb and flow of my own personal life… I don't think we're there yet,
    but I'll do my best to get us there!

    Sorry for the disruption, and I hope these new changes find you well, friends!  
    —*Matchu*

    [impress-2020]: https://impress-2020.openneo.net/
