
%p
  Our policy is short and sweet at this point. And by using our site, you
  agree to our Terms of Use. Thanks!
%hr
%p
  If you hit our servers with automated requests in ways which were not
  intended, you will be banned at our sole discretion. Public APIs are
  intended methods. If a page on our site is not clearly marked as a public
  API, it is not an intended method.
%p
  You may look at the code for educational purposes; however, if you
  directly use any part of the front-end or back-end code for your own
  purposes, you
  %strong must
  prominently credit its original
  source
  == (#{link_to 'OpenNeo', 'http://www.openneo.net/'})
  on every single web page on which the code is used, or which the code is used
  to produce. If you make improvements to the code, we appreciate, but do not
  require, that you submit those improvements to the original codebase. See the
  = link_to 'license', 'https://github.com/matchu/openneo-impress/blob/master/LICENSE'
  for more information.
%p
  Attempts to misuse this website are acceptable as long as they are for
  the sole purpose of improving this website. All security issues must be
  immediately reported to
  == #{link_to 'OpenNeo', 'http://www.openneo.net/'},
  and may not be used for any malicious purpose. If you inform someone else
  of a security hole and he or she abuses it, both of your are considered
  responsible.
%p
  In short, use our website as much as you like, but do no harm. Or you
  %strong will
  be punished.
%hr
%p
  Sorry if that scared you. It's really just to make clear that there are
  certain unacceptable behaviors when it comes to accessing a website, but only
  those looking to cause trouble are likely to really cause any. If all you
  want to do here is dress up your pets, then there's absolutely no need to
  worry.
%p
  %strong Thanks for using Dress to Impress!
