@import "partials/context_button"
@import "partials/icon"
@import "partials/secondary_nav"

body.closet_hangers-index
  +secondary-nav

  #title
    margin-bottom: 0

  #import-link
    +awesome-button
    +loud-awesome-button-color

  #closet-hangers-items-search
    float: right

    input[name=q]
      &.loading
        background:
          image: url(/images/loading.gif)
          position: 2px center
          repeat: no-repeat
        padding-left: $icon-width + 4px

  #closet-hangers-contact
    clear: both
    color: $soft-text-color
    margin-bottom: 1em
    margin-left: 2em
    min-height: image-height("neomail.png")

    a, > span
      +hover-link
      background:
        image: image-url("neomail.png")
        position: left center
        repeat: no-repeat
      color: inherit
      float: left
      height: 100%
      padding-left: image-width("neomail.png") + 4px

    > span
      background-image: image-url("neomail_edit.png")

    input[type=text]
      width: 10em

    label
      font-weight: bold
      margin-right: .5em

      &:after
        content: ":"

  #edit-contact-link-to-replace-form, #cancel-contact-link
    display: none

  .edit-contact-link, #cancel-contact-link
    cursor: pointer
    text-decoration: underline

    &:hover
      text-decoration: none

  #edit-contact-link-to-replace-form
    #contact-link-has-value
      display: none

    #contact-link-no-value
      display: inline

    &.has-value
      #contact-link-has-value
        display: inline

      #contact-link-no-value
        display: none

  #cancel-contact-link
    margin-left: 1em

  #toggle-help
    +awesome-button
    cursor: pointer
    display: none

  #closet-hangers-help.hidden
    display: none

  #closet-hangers-extras
    margin:
      bottom: 2em
      top: 2em
    text-align: center

    a
      +awesome-button
      margin: 0 0.5em

  #closet-hangers-share
    font-size: 85%
    margin-bottom: 1em

    label
      font-weight: bold
      margin-right: .5em

    input
      width: 30em

  #closet-hangers
    clear: both
    text-align: center

    .object
      .quantity
        +opacity(.75)
        background: white
        padding: 6px 4px 4px
        position: absolute
        left: ($object-width - $object-img-size) / 2 + $object-padding
        line-height: 1
        text-align: left
        top: 0

        span, input[type=number]
          font-size: 16px
          font-weight: bold

      form
        display: none

      &[data-quantity="1"]
        .quantity
          display: none

  .closet-hangers-group
    border-top: 1px solid $module-border-color
    margin-bottom: 2em
    padding-bottom: 1em

    > header
      border-bottom: 1px solid $soft-border-color
      display: block
      margin-bottom: .25em
      padding: .25em 0
      position: relative

      h3
        font-size: 250%
        margin: 0

      .add-closet-list
        +awesome-button
        bottom: 50%
        margin-bottom: -1em
        position: absolute
        right: 1em

        &:active
          margin-bottom: -1.1em
          top: auto

      span.show, span.hide
        color: $soft-text-color
        display: none
        font-size: 85%
        left: 1em
        position: absolute
        top: 1em

        &:hover
          color: inherit
          text-decoration: underline

  .closet-list
    border-bottom: 1px solid $soft-border-color
    padding: .5em 0
    position: relative

    .visibility-form
      font-size: 85%
      left: .5em
      position: absolute
      text-align: left
      top: .25em
      z-index: 10

      input, select
        font-size: inherit
        margin:
          bottom: 0
          top: 0

      select
        border-color: $background-color

      input[type=submit]
        +context-button
        font-size: inherit
        visibility: hidden

        &:active
          top: 1px

      .visibility-descriptions
        +opacity(.75)
        background: $background-color
        font-style: italic
        list-style: none
        padding: 0 .5em

        li
          display: none

      &:hover
        .visibility-descriptions li.current
          display: block

    header
      display: block
      position: relative

    h4
      +header-text
      font-size: 150%
      line-height: 1
      margin: 0 auto .67em
      width: 50%

    .empty-list
      display: none
      font-style: italic

    .closet-list-controls
      display: none
      position: absolute
      right: 1em
      top: 0

      a, input[type=submit]
        +context-button

      form
        display: inline

    &[data-hangers-count="0"]
      .empty-list
        display: block

    &.unlisted
      h4
        font:
          size: 125%
          style: italic

    &:hover
      .closet-list-controls
        display: block

      .visibility-form
        input[type=submit]
          visibility: visible

        select
          border-color: $soft-border-color

    &:last-child
      border-bottom: 0

    &.droppable-active
      +border-radius(1em)
      +module
      border-bottom-width: 1px
      border-style: dotted
      margin: 1em 0

      .object
        // totally hiding these elements causes the original element to change
        // position, throwing off the drag
        +opacity(.25)
        &.ui-draggable-dragging
          +opacity(1)

      .closet-list-controls
        display: none

      .closet-list-hangers
        overflow: hidden

      .visibility-form
        display: none

  .closet-hangers-group-autocomplete-item, .closet-list-autocomplete-item
    span
      font-style: italic
      padding: .2em .4em

  .closet-list-autocomplete-item
    a, span
      font-size: 85%
      padding-left: 2em

  &.current-user
    #closet-hangers
      .object:hover
        form
          display: inline

        .closet-hanger-destroy
          position: absolute
          right: ($object-width - $object-img-size) / 2 + $object-padding
          top: $object-img-size - 28px

          input
            +context-button

        .quantity
          +opacity(1)
          background: transparent
          top: 0
          padding: 0

          span
            display: none

          input[type=number]
            padding: 2px
            width: 2em

          input[type=submit]
            font-size: 85%

    &.js
      #closet-hangers
        .object:hover .quantity
          display: block

          input[type=number]
            width: 2.5em

          input[type=submit]
            display: none

        .object.loading
          background: $module-bg-color
          outline: 1px solid $module-border-color

          .quantity
            display: block

            span:after
              content: "…"

      #closet-hangers-contact
        form
          display: none

        .edit-contact-link, #cancel-contact-link
          display: inline

        &.editing
          form
            display: block

          .edit-contact-link
            display: none

      .closet-hangers-group
        header
          .show, .hide
            cursor: pointer

          .hide
            display: block

        &.hidden
          header .hide, .closet-hangers-group-content
            display: none

          header .show
            display: block

      #toggle-help
        display: inline

