@import "partials/context_button"
@import "partials/icon"
@import "partials/secondary_nav"

body.closet_hangers-index
  +secondary-nav

  #title
    margin-bottom: 0

  #import-link
    +awesome-button
    +loud-awesome-button-color

  #closet-hangers-items-search
    float: right

    input[name=q]
      &.loading
        background:
          image: url(/images/loading.gif)
          position: 2px center
          repeat: no-repeat
        padding-left: $icon-width + 4px

  #closet-hangers-contact
    clear: both
    font-size: 85%
    margin-bottom: 1em
    margin-left: 2em
    min-height: image-height("neomail.png")

    a
      background:
        image: image-url("neomail.png")
        position: left center
        repeat: no-repeat
      padding-left: image-width("neomail.png") + 2px

    input[type=text]
      width: 10em

    label
      font-weight: bold
      margin-right: .5em

      &:after
        content: ":"

  #edit-contact-link-to-replace-form, #cancel-contact-link
    display: none

  .edit-contact-link, #cancel-contact-link
    cursor: pointer
    text-decoration: underline

    &:hover
      text-decoration: none

  #edit-contact-link-to-replace-form
    #contact-link-has-value
      display: none

    #contact-link-no-value
      display: inline

    &.has-value
      #contact-link-has-value
        display: inline

      #contact-link-no-value
        display: none

  #cancel-contact-link
    margin-left: 1em

  #closet-hangers
    clear: both
    text-align: center

    .object
      .quantity
        +opacity(.75)
        background: white
        padding: 2px 4px
        position: absolute
        left: ($object-width - $object-img-size) / 2 + $object-padding
        line-height: 1
        text-align: left
        top: $object-img-size - 20px

        span, input[type=number]
          font-size: 16px
          font-weight: bold

      form
        display: none

      .quantity-1
        display: none

  .closet-hangers-group
    border-top: 1px solid $module-border-color
    margin-bottom: 2em
    padding-bottom: 1em

    > header
      border-bottom: 1px solid $soft-border-color
      display: block
      margin-bottom: .25em
      padding: .25em 0
      position: relative

      h3
        font-size: 250%
        margin: 0

      .add-closet-list
        +awesome-button
        bottom: 50%
        margin-bottom: -1em
        position: absolute
        right: 1em

        &:active
          margin-bottom: -1.1em
          top: auto

      span.show, span.hide
        color: $soft-text-color
        display: none
        font-size: 85%
        left: 1em
        position: absolute
        top: 1em

        &:hover
          color: inherit
          text-decoration: underline

  .closet-list
    border-bottom: 1px solid $soft-border-color
    padding: .5em 0

    header
      display: block
      position: relative

    h4
      +header-text
      font-size: 150%
      margin: 0 auto

    .empty-list
      font-style: italic

    .closet-list-controls
      display: none
      position: absolute
      right: 1em
      top: 0

      a, input[type=submit]
        +context-button

      form
        display: inline

    &.unlisted
      h4
        font-style: italic

    &:hover
      .closet-list-controls
        display: block

    &:last-child
      border-bottom: 0

  .closet-hangers-group-autocomplete-item, .closet-list-autocomplete-item
    span
      font-style: italic
      padding: .2em .4em

  .closet-list-autocomplete-item
    a, span
      font-size: 85%
      padding-left: 2em

  &.current-user
    #closet-hangers
      .object:hover
        form
          display: inline

        .closet-hanger-destroy
          position: absolute
          right: ($object-width - $object-img-size) / 2 + $object-padding
          top: 0

          input
            +context-button

        .quantity
          +opacity(1)
          background: transparent
          top: $object-img-size - 24px
          padding: 0

          span
            display: none

          input[type=number]
            padding: 2px
            width: 2em

          input[type=submit]
            font-size: 85%

    &.js
      #closet-hangers
        .object:hover .quantity
          display: block

          input[type=number]
            width: 2.5em

          input[type=submit]
            display: none

        .object.loading
          background: $module-bg-color
          outline: 1px solid $module-border-color

          .quantity
            display: block

            span:after
              content: "…"

      #closet-hangers-contact
        form
          display: none

        .edit-contact-link, #cancel-contact-link
          display: inline

        &.editing
          form
            display: block

          .edit-contact-link
            display: none

      .closet-hangers-group
        header
          .show, .hide
            cursor: pointer

          .hide
            display: block

        &.hidden
          header .hide, .closet-hangers-group-content
            display: none

          header .show
            display: block

