- if @results
  - if @results.empty?
    :markdown
      We couldn't find any wearables that matched **#{@query}**. Sorry!
      
      Are we missing something? To add an item to our database, just
      [show us a pet who is wearing it][1]. That's it!
      
      [1]: http://impress.openneo.net/
  - else
    = will_paginate @results
    = render @results
    = will_paginate @results
