form {
  margin-bottom: 2em;
}

.object .nc-icon {
  height: 16px;
  position: absolute;
  right: ($object-width - $object-img-size) / 2 + $object-padding;
  top: $object-img-size - $nc-icon-size;
  width: 16px;
  
  &:hover {
    @include opacity(.5);
  }
}

@mixin main_unit {
  float: left;
  width: 49%;
  
  h2 {
    font-size: 125%;
  }
}

#search-help {
  @include main_unit;
  padding-right: 1%;
  
  dl {
    text-align: left;
  }
  
  dd {
    margin-bottom: 1em;
  }
}

#species-search-links {
  @include main_unit;
  
  padding-left: 1%;
  
  img {
    height: 80px;
    width: 80px;
  }
}
