body.show {
  header {
    border-bottom: 1px solid $module_border_color;
    display: block;
    margin-bottom: 1em;
    padding: 1em 0;
  }
  
  #item-thumbnail {
    @include inline-block;
    border: 1px solid $module_border_color;
    height: 80px;
    margin-right: .5em;
    width: 80px;
  }
  
  #item-name {
    @include inline-block;
    margin-top: 1em;
  }
  
  #item-preview {
    div {
      float: left;
    }
  }
  
  #item-preview-species {
    width: 400px;
    
    a, img {
      height: 50px;
      width: 50px;
    }
    
    a {
      @include inline-block;
      
      &.current {
        background: $module_background_color;
        outline: 1px solid $module_border_color;
      }
      
      &.deactivated {
        @include opacity(.5);
        background: $error_bg_color;
        //background: #fff;
        //background: rgba(255, 255, 255, .5);
        &.current {
          outline-color: $error_border_color;
        }
      }
    }
  }
  
  #item-preview-error {
    display: none;
    padding: 20px 10px 0;
    width: 380px;
  }
  
  #item-preview-swf {
    height: 300px;
    overflow: hidden;
    width: 300px;
  }
}
