body.show {
  header {
    border-bottom: 1px solid $module_border_color;
    display: block;
    margin-bottom: 1em;
    padding: 1em 0;
  }
  
  #item-thumbnail {
    @include inline-block;
    border: 1px solid $module_border_color;
    height: 80px;
    margin-right: .5em;
    width: 80px;
  }
  
  #item-name {
    @include inline-block;
    margin-top: 1em;
  }
  
  #item-preview div {
    float: left;
    width: 50%;
  }
  
  #item-preview-swf {
    height: 50%;
  }
  
  #item-preview img {
    height: 50px;
    width: 50px;
  }
}
