body.use-responsive-design
    #container
        max-width: 100%
        padding-inline: 1rem
        box-sizing: border-box

    #home-link
        margin-left: 1rem
        padding-inline: 0

    #userbar
        margin-right: 1rem
