body.use-responsive-design
    #container
        max-width: 100%
        padding-inline: 1rem
        box-sizing: border-box
        padding-top: 0

    #main-nav
        display: flex
        flex-wrap: wrap

    #home-link, #userbar
        position: static

    #home-link
        padding-inline: .5rem
        margin-inline: -.5rem
        margin-right: auto

    #userbar
        margin-left: auto
        text-align: right
