<p>
  Hi, friend! I'm Matchu, that guy who made Dress to Impress :)
</p>

<p>
  So, let's do the business first:
  You donated
  <strong><%= number_to_currency @donation.amount / 100.0 %></strong>
  (thanks again, by the way!),
  and you can update the name and outfits on that donation whenever you like at
  <%= link_to donation_url(@donation), donation_url(@donation) %>.
</p>

<p>
  Really, though, my favorite part of these emails is that it gives me a chance
  to hear from some of our most excited users :D
  What do you love about Dress to Impress? What parts aren't so great?
  Any issues I can help you with while we're here?
  What does Dress to Impress need to do long-term to continue to be a valuable
  resource for years to come?
</p>

<p>
  Hit Reply and let me know—or we can just talk
  about how pumped we are for the next season of Doctor Who :o
  Up to you :)
</p>

<p>
  Thanks again for your help! Serving this community is an honor and a pleasure.<br />
  —<i>Matchu</i>
</p>

<p>
  P.S. Seriously. Reply to this email and tell me something.
  It always makes my day :D
</p>
