@import "../partials/clean/constants"
@import "../partials/clean/mixins"

body.pets-bulk
  #bulk-pets-form
    text-align: center
    margin-top: 12px
    padding-top: 12px
    
    textarea
      +inline-block

      // NOTE: This was previously `@extend input[type=text]`,
      // I copied it in from _layout.sass!
      border-radius: 3px
      background: #fff
      border: 1px solid $input-border-color
      color: $text-color + #444444
      padding: .25em
      &:focus, &:active
        color: inherit

      display: inline
      font: inherit
      height: 1.5em
      overflow: hidden
      resize: none
    ul
      list-style: none
      margin-top: 1em
      li
        +inline-block
        background: #eee
        margin: 0 auto
        min-width: 25%
        text-align: left
        .waiting-message, .loading-message, .response
          display: none
          font:
            size: 75%
            style: italic
          margin-left: 75px
        &.waiting .waiting-message, &.loading .loading-message, &.loaded .response, &.failed .response
          display: block
        &.loaded
          background: $notice-bg-color
        &.failed
          background: $error-bg-color
      img
        float: left
        height: 50px
        width: 50px
        margin-right: 1em
        vertical-align: middle

  &.js
    .noscript
      display: none
    .script-only
      display: block

  .script-only
    display: none
