outfit-viewer
	margin: 0 auto

.fields li[data-type=radio-grid]
	--num-columns: 3

.reference-link
	display: flex
	align-items: center
	gap: .5em
	padding-inline: .5em

	img
		height: 2em
		width: auto
