#title:has(+ .breadcrumbs)
	margin-bottom: .125em

.breadcrumbs
	list-style-type: none
	display: flex
	flex-direction: row
	margin-block: .5em
	font-size: .85em

	li
		display: flex

	li:not(:first-child)
		&::before
			margin-inline: .35em
			content: "→"

		&[data-relation-to-prev=sibling]::before
			content: "+"

		&[data-relation-to-prev=menu]::before
			content: "-"
