.support-form
	display: flex
	flex-direction: column
	gap: 1em
	align-items: flex-start

	.fields
		list-style-type: none
		display: flex
		flex-direction: column
		gap: .75em
		width: 100%

		li
			display: flex
			flex-direction: column
			gap: .25em
			max-width: 60ch

			> label
				display: block
				font-weight: bold

	input[type=text], input[type=url]
		width: 100%
		min-width: 10ch
		box-sizing: border-box

	.thumbnail-input
		display: flex
		align-items: center
		gap: .25em

		img
			width: 40px
			height: 40px

	fieldset[data-type=radio]
		display: flex
		flex-direction: column
		gap: .25em

		legend
			font-weight: bold

	.field_with_errors
		display: contents

	.actions
		display: flex
		align-items: center
		gap: 1em

		label
			display: flex
			align-items: center
			gap: .25em
			font-size: .85em
			font-style: italic
